<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Notificação{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/system-icon.png') }}">
</head>
<body class="bg-gray-100 min-h-screen">
    {% block content %}{% endblock %}
    
    <script src="{{ url_for('static', path='/js/app.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>